<div class="container-3">
  <div class="card">
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/posts/new">Add Post</a>
      <a href="/users/profile">Profile</a>
      <a href="/">Log Out</a>
    </nav>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>POSTS</h1>
  </div>
</div>

<div class="container-2">
  <form action="/posts/new">
    <input class="button" type="submit" value="New Post" />
</div>

<ul class="posts">
  {{#each posts}}
  <div class="container-4">
    <div class="card-2">
      <li>
        <img class="avatar" src="{{this.profilePictureURL}}">
      </li>
      <span>{{this.firstName}} {{this.lastName}}</span>
      <span>{{this.message}}</span>
      <br>
      <span>
        <form method="post" action="/posts/like">
          <input type="hidden" name="post" value="{{this._id}}">
          <input type="submit" value="ðŸ‘ {{this.likes.length}}">
        </form>
      </span>
      <li>
        <a class="edit">Posted on: {{this.createdAt}}</a>
      </li>
      <form method="post" action="posts/comments/new">
      <input type="hidden" name="post" value="{{this._id}}">
      {{#if this.comments.length}}
        <input type="text" name="comment", id="{{this._id}}" placeholder="comment...">
        <input type="submit" value="Add Comment">
      {{else}}
        <input type="text" name="comment", id="{{this._id}}" placeholder="be the first to comment...">
        <input type="submit" value="Add Comment">
      {{/if}}
      </form>
      <ul>
        {{#each this.comments}}
        <li><span><img width= "30px" src="{{this.user.profilePictureURL}}"></span>
        <span>{{this.user.firstName}} {{this.user.lastName}}</span>
        <span>{{this.message}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</ul>
