<div class="container-3">
  <div class="card">
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/users/profile">Profile</a>
      <a href="/sessions/destroy">Log Out</a>
    </nav>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>ADD A POST</h1>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <form class="form-1" id="new-post-form" action="/posts" method="post">
      <li>
        <label for="message">Message: </label>
        <input class="button-3" id="message" type="text" name="message">
      </li>
      <li>
        <label for="imageURL">ImageURL: </label>
        <input class="button" id="imageURL" type="text" name="imageURL">
      </li>
      <input type="hidden" name="user_id" value="{{user._id}}">
      <input type="hidden" name="firstName" value="{{user.firstName}}">
      <input type="hidden" name="lastName" value="{{user.lastName}}">
      <input type="hidden" name="profilePictureURL" value="{{user.profilePictureURL}}">
      <input class="button" type="submit" value="Post">
    </form>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>POSTS</h1>
  </div>
</div>

<div>
  {{#each posts}}
  <div class="container-4">
    <div class="card-2">
      <div class="user">
        <a href="/users/profile"><img class="avatar" src="{{this.profilePictureURL}}"></a>
        <p>{{this.firstName}} {{this.lastName}}</p>
        <a class="edit">Posted on: {{this.createdAt}}</a>
      </div>


      <ul class="post">
        <span class="post-message">{{this.message}}</span>
        <span class="img"><img src="{{this.imageURL}}"></span>
      </ul>

      <li>
        <form method="post" action="/posts/like">
          <input type="hidden" name="post" value="{{this._id}}">
          <button class="button-4" type="submit">🤍{{this.likes.length}}</button>
        </form>
        <form method="post" action="/posts/delete">
          <input type="hidden" name="post" value="{{this._id}}">
          <button class="button-4" type="submit">Delete</button>
        </form>
      </li>

      <form method="post" action="posts/comments/new">
        <input type="hidden" name="post" value="{{this._id}}">
        {{#if this.comments.length}}
        <input class="button" type="text" name="comment" , id="{{this._id}}" placeholder="Make a Comment...">
        <input class="button" type="submit" value="Add Comment">
        {{else}}
        <input class="button" type="text" name="comment" , id="{{this._id}}" placeholder="Be the first to comment...">
        <input class="button" type="submit" value="Add Comment">
        {{/if}}
      </form>

      <ul>
        {{#each this.comments}}
        <li><span><img width="30px" src="{{this.user.profilePictureURL}}"></span>
          <span>{{this.user.firstName}} {{this.user.lastName}}: </span>
          <span>{{this.message}}</span>
        </li>
        {{/each}}
      </ul>

    </div>


  </div>
  {{/each}}
</div>