<div class="container-3">
  <div class="card">
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/posts/new">Add Post</a>
      <a href="/users/profile">Profile</a>
      <a href="/confirm">Log Out</a>
    </nav>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>Posts</h1>
    <ul class="posts">
      {{#each posts}}
      <li class="list-item"><span>{{this.message}}</span>
      <span>{{this.createdAt}}</span>
      <span><button type="button" name="{{this._id}}-like-button" 
      class="like-button" id="{{this._id}}-like-button"
      onclick="likeButton('{{this._id}}-like-button', {{db}})" 
      
      >👍 {{this.likes.length}}</button>
      </span></li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-2">
<form action="/posts/new">
  <input class="button" type="submit" value="New Post" />
</div>

<script src="javascripts/like_button.js"></script>